<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="style.css")
        script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=doxy")

        script(src="https://unpkg.com/@webcomponents/webcomponentsjs@2.2.10/webcomponents-loader.js")
        script(src="webcomponent.dev.js")
        script(src="rikaaa-scrollbar.js")

        script(src="index.js")

    body
        div.bg
        div.wp
            header
                h1 rikaaa.org
            article
                rikaaa-scrollbar
                    div.article-wrap
                        h1
                            ='<rikaaa-roundtable>'
                        p
                        section.demo
                            h2.title Demo
                            .
                                <rikaaa-roundtable 
                                size="640x480"
                                srcs="images/1.jpg,
                                    images/2.jpg,
                                    images/3.jpg,
                                    images/4.jpg,
                                    images/5.jpg"
                                >
                                </rikaaa-roundtable>
                        section.Installation
                            h2.title Installation

                        section.Usage
                            h2.title Usage

                        section.attribute
                            h2.title Attributes

                        section.methods
                            h2.title Methods

                        section.events
                            h2.title Events

                


                            
                    

                                        
                                        
                                        

                                




                    
